<div class="row" class="ng-cloak" >
  <div class="col-md-4 refInputs">
    <div class="row">
      <!-- directive: to-numeric -->

      <div class="col-md-6">
        <h3>Credit Actuel</h3>
        <div class="form-group">
          <label for="dateFirstPayement">Date premier versement</label>
          <input  ng-model='refinancing.initMortgage.dateString' ng-change="update(false,false)" id="datetimepicker" class="datepicker" type="text" before-today  >
        </div>

        <div class="form-group">
          <div style="display:none;">
            <label for="amount">Connaissez-vous votre Solde Restant Dû (SRD) à la date d'aujourd'hui ?</label> 

            <label class="radio-inline">
              <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio1" ng-model="refinancing.knowSRD" value="yes"> Oui
            </label>
            <label class="radio-inline">
              <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio2" ng-model="refinancing.knowSRD" value="no"> Non
            </label>
          </div>
          <div class="capital" ng-show="refinancing.knowSRD =='no'"><label for="amount">Montant Initial</label> 
            <div class="row">
              <div class="col-md-6">
                <input  ng-model="refinancing.initMortgage.capital" auto-numeric-fabrice ng-change="update(false,true)"  type="text"  class="form-control" id="amount-nb"  > 
              </div>
              <div class="col-md-6">
                <input  ng-model="refinancing.initMortgage.capital"  ng-change="update(false,true)" type="range" class="form-control" id="amount"  placeholder="Montant"  min="0" max="500000"  step="10000">
              </div>
            </div>
          </div>
          <div class="capital" ng-show="refinancing.knowSRD =='yes'"><label for="amount">Solde restant dû</label> 
            <div class="row">
              <div class="col-md-6">
                <input  ng-model="refinancing.initMortgage.capital" auto-numeric-fabrice ng-change="update(false,true)"  type="text"  class="form-control" id="amount-nb"  > 
              </div>
              <div class="col-md-6">
                <input  ng-model="refinancing.initMortgage.capital"  ng-change="update(false,true)" type="range" class="form-control" id="amount"  placeholder="Montant"  min="0" max="500000"  step="10000">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="duration">Durée (mois)</label>
          <div class="row">
            <div class="col-md-6">
              <input ng-model="refinancing.initMortgage.duration" ng-change="update(false,false)" ype="number" ng-model-options="{ getterSetter: true }" class="form-control" id="duration-nb" min="12" max="360"  step='12'>
            </div>
            <div class="col-md-6">
              <input  ng-change="update(false,false)" type="range" class="form-control" id="duration" placeholder="Duration"  min="12" max="360" ng-model="refinancing.initMortgage.duration" step='12'>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="finType">Type</label>
          <select ng-change="update(false,true)" class="form-control" id="finType" ng-model="refinancing.initMortgage.type" ng-options="option for option  in refinancingOptions">
          </select>
        </div>
        <div class="form-group">
          <label for="rate">Taux Annuel</label>
          <div class="row">
            <div class="col-md-6">
              <input ng-model="refinancing.initMortgage.initRate " ng-change="update(false,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="0.0" max="10.0"  step ="0.001" >
            </div>
            <div class="col-md-6">
              <input  ng-model="refinancing.initMortgage.initRate" ng-change="update(false,true)" type="range" class="form-control" id="rate" placeholder="Rate"  min="0" max="10" step ="0.001" >
            </div>
          </div>
        </div>
        <div ng-show="refinancing.initMortgage.type !='fixe'">

            <label for="rate">Variation</label>
             <div class="row">
            <div class="col-md-6">
              <input ng-model="refinancing.initMortgage.cap.pos" ng-change="update(false,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
            </div>
            <div class="col-md-6">
              <input  ng-model="refinancing.initMortgage.cap.neg" ng-change="update(false,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001">  
            </div>
          </div>
          <div class="form-group">
            <label for="rate">Hausse des taux (scenarios possibles):</label>
            <div><label class="radio-inline">
              <input ng-change="update(false,true)" ng-model="refinancing.initMortgage.story" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="max" checked="checked"> Maximum
            </label>
            <label class="radio-inline">
              <input ng-change="update(false,true)" ng-model="refinancing.initMortgage.story" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="min"> Minimum
            </label>
            <label class="radio-inline">
              <input ng-change="update(false,true)" ng-model="refinancing.initMortgage.story" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="same"> identique
            </label>
             <label class="radio-inline">
            <input ng-change="update(false,true)"  type="radio" name="storyrd" id="inlineRadio3" ng-model="refinancing.initMortgage.story" value="costum"> personalisé
          </label>

          </div>
        </div>
          <div class="form-group">
             <div class="row" >
              <div class="col-md-4">
                  <label for="rate">Indice de reference</label>
            </div>
              <div class="col-md-4">
                  <label for="rate">Taux</label>
            </div>
              <div class="col-md-4">
                  <label for="rate">date de revision</label>
              </div>
            </div>
            <div class="row" ng-repeat="indice in refinancing.initMortgage.refInd track by $index">
              <div class="col-md-4">
                <input ng-model="indice.val" ng-change="updateWithIndPers(false,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
              </div>
              <div class="col-md-4">
                <input ng-model="indice.rate" ng-change="updateWithIndPers(false,true)" type="text" disabled ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
              </div>
              <div class="col-md-4">
                <select ng-change="updateWithIndPers(false,true)" class="form-control" id="finType" ng-model="indice.date" ng-options="option.date for option.date  in indice.dateList"></select>
              </div>
            </div>
          </div>
      </div>

    </div>


    <div class="col-md-6">
      <h3>Rachat</h3>

      <div class="form-group">
        <label  for="dateFirstPayement">Date premier versement</label>
        <input ng-change="update(false,false)" ng-model='refinancing.refMortgage.dateString' id="datetimepicker" class="datepicker" type="text" after-today >
      </div>


        <div class="form-group">
          <label for="amount">Solde restant dû</label> 
            <div class="row">
              <div class="col-md-6">
                <input  ng-model="refinancing.SRD" disabled auto-numeric-fabrice ng-change="update(false,false)"  type="text"  class="form-control" id="amount-nb"  > 
              </div>

            </div>
        </div>


          <div class="form-group" ng-show = "!sameMonthlyPayements">
      <label for="duration">Durée (mois)</label>
      <div class="row">
        <div class="col-md-6">
          <input ng-disabled="sameMonthlyPayement" ng-change="updateVarWithDurationFirst(true,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="duration-nb"  ng-model="refinancing.refMortgage.duration" step='12'>
        </div>
        <div class="col-md-6">
          <input  ng-disabled="sameMonthlyPayement" ng-change="updateVarWithDurationFirst(true,true)" type="range" class="form-control" id="duration" placeholder="Duration"  min="12" max="360" ng-model="refinancing.refMortgage.duration" step='12'>
        </div>
      </div>
    </div>
      <div class="form-group">
        <label for="finType">Type</label>
        <select ng-change="updateVarWithTypeFirst(true,true)" class="form-control" id="finType" ng-model="refinancing.refMortgage.type" ng-options="option for option  in refinancing.refMortgage.typeTable">

        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="refinancing.refMortgage.sameMonthlyPayement"  ng-change="update(true,false)"> Même mensualité
        </label>
      </div>
      <div class="form-group">
        <label for="rate">Nouveau Taux Annuel</label>
        <div class="row">
          <div class="col-md-6">
            <select ng-change="update(true,true)" class="form-control"  id="rate-nb"  ng-model="refinancing.refMortgage.initRate " ng-options="option for option  in refinancing.refMortgage.rateTable"></select>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      </div>
      <div ng-show="refinancing.refMortgage.type !='fixe'">
<!--           <div class="form-group" >
          <label for="rate">Variation</label>
          <div class="row">
            <div class="col-md-6">
              <input ng-model="refinancing.refMortgage.cap.pos" ng-change="update(true,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
            </div>
            <div class="col-md-6">
              <input  ng-model="refinancing.refMortgage.cap.neg" ng-change="update(true,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001">  
            </div>
          </div>
          </div> -->
        <div class="form-group">
          <label for="rate">Hausse des taux (scenarios possibles):</label>
          <div><label class="radio-inline">
            <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio1" ng-model="refinancing.refMortgage.story" value="max"> Maximum
          </label>
          <label class="radio-inline">
            <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio2" ng-model="refinancing.refMortgage.story" value="min"> Minimum
          </label>
          <label class="radio-inline">
            <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio3" ng-model="refinancing.refMortgage.story" value="same"> identique
          </label>
          <label class="radio-inline">
            <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio3" ng-model="refinancing.refMortgage.story" value="limit"> Limite
          </label>
          <label class="radio-inline">
            <input ng-change='update(true,true)' type="radio" name="storyrd" id="inlineRadio3" ng-model="refinancing.refMortgage.story" value="costum"> personalisé
          </label>
        </div>
      </div>

              <div class="form-group" >
           <div class="row" >
              <div class="col-md-4">
                  <label for="rate">Indice de reference</label>
            </div>
              <div class="col-md-4">
                  <label for="rate">Taux</label>
            </div>
              <div class="col-md-4">
                  <label for="rate">date de revision</label>
              </div>
            </div>
            <div class="row" ng-repeat="indice in refinancing.refMortgage.refInd track by $index">
              <div class="col-md-4">
                <input ng-model="indice.val" ng-change="updateWithIndPers(true,true)" type="number" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
              </div>
              <div class="col-md-4">
                <input ng-model="indice.rate" disabled ng-change="updateWithIndPers(true,true)" type="text" ng-model-options="{ getterSetter: true }" class="form-control" id="rate-nb"  min="-10.0" max="10.0"  step ="0.001" >
              </div>
              <div class="col-md-4">
              <select ng-change="updateWithIndPers(true,true)"  class="form-control" id="finType" ng-model="indice.date" ng-options="option.date for option  in indice.dateList"></select>
              </div>
            </div>

        </div>
    </div>


  </div>
</div>
</div>

<div class="col-md-8">
  <div class ="row">
    <div class="col-md-12">
      <CAPTION> <h1 ng-class = "{isBenef: refinancing.refMortgage.isTotalBeneficial , isNotBenef: !refinancing.refMortgage.isTotalBeneficial}">{{ isBeneficial }}</h1>
        <span ><h4 >Mois: <strong ng-class = "{isBenef: refinancing.refMortgage.isMonthlyBeneficial, isNotBenef: !refinancing.refMortgage.isMonthlyBeneficial }">{{ monthDiff | number:2 | abs }}€ {{ ismonthlyBeneficial }}</strong></h4></span>
        <span ><h4>Total: <strong  ng-class = "{isBenef: refinancing.refMortgage.isTotalBeneficial , isNotBenef: !refinancing.refMortgage.isTotalBeneficial}">{{ TotalDiff | number:2 | abs }}€ {{ isTotalBeneficial }}</strong></h4></span>
      </div>
      <div class="col-md-6"  style="margin-bottom: 0px; bottom: -47px;">
      </CAPTION> 
      <table class="table">
        <TR> 
         <th></th>
         <th>Pret Actuel</th>
         <th>Rachat</th>
       </TR>
       <tr>
         <TH>Solde Restant Du:</TH> 
         <td> {{ refinancing.SRD | number:2 }}€</td>
         <td> {{ refinancing.SRD | number:2 }}€</td>
       </tr> 
       <tr>
         <TH>Indemnité de remploie</TH> 
         <td> 0€</td>
         <td> {{ refinancing.indem | number:2 }}€</td>
       </tr>
       <tr>
         <TH>frais de dossier</TH> 
         <td> 0€</td>
         <td> {{ refinancing.fileCharges | number:2 }}€</td>
       </tr>  
       <tr>
         <TH>Capital dû après rachat:</TH> 
         <td> {{ refinancing.SRD | number:2 }}€</td>
         <td> {{ refinancing.refMortgage.capital | number:2 }}€</td>
       </tr>   
       <tr>
         <tr>
          <th>Total Interet</th>
          <td> {{ refinancing.initMortgage.totalInterestIfRef | number:2 }}€</td>
          <td> {{ refinancing.refMortgage.totalInterest | number:2 }}€</td>
        </tr>  
        <tr>
         <TH>Mensualité:</TH> 
         <td ng-class = "{isBenef: !refinancing.refMortgage.isMonthlyBeneficial, isNotBenef: refinancing.refMortgage.isMonthlyBeneficial }"> {{ refinancing.initMortgage.monthlyPayment | number:2 }}€</td>
         <td ng-class = "{isBenef: refinancing.refMortgage.isMonthlyBeneficial, isNotBenef: !refinancing.refMortgage.isMonthlyBeneficial }"> {{ refinancing.refMortgage.monthlyPayment | number:2 }}€</td>
       </tr>   
       <tr>
         <th>Total</th>
         <td ng-class = "{isBenef: !refinancing.refMortgage.isTotalBeneficial , isNotBenef: refinancing.refMortgage.isTotalBeneficial}"> {{ refinancing.initMortgage.totalPaymentIfRef | number:2 }}€</td>
         <td ng-class = "{isBenef: refinancing.refMortgage.isTotalBeneficial , isNotBenef: !refinancing.refMortgage.isTotalBeneficial}"> {{ refinancing.refMortgage.totalPayment | number:2 }}€</td>
       </tr>  
     </TR>
   </table >
 </div>

 <div class="col-md-6">
  <gh-visualization val="compChart" grouped="grouped" type="column" field="field" style="display:block;"></gh-visualization> 
</div>
</div>
<div class ="row">

  <div class="col-md-6">
    <gh-visualization val="InterestChart" grouped="grouped" type="column" field="field" style="display:block;"></gh-visualization> 
  </div>
  <div class="col-md-6">
   <gh-visualization val="srdChart" grouped="grouped" type="column" field="field" style="display:block;"></gh-visualization> 
 </div>
</div>

<div class="row">
  <div class="col-md-12">
   <TABLE class="table table-bordered"> 
    <CAPTION> <h3>Tableau Amortissement </h3></CAPTION> 
    <TR> 
     <TH>Mois</TH> 
     <TH>Echéance</TH> 
     <TH>Taux</TH> 
     <TH>Capital</TH> 
     <TH>Interet</TH> 
     <TH>Tot. payementl</TH> 
     <TH>Tot. interet</TH> 
     <TH>Solde Restant Du</TH> 
     <TH>Mensualité</TH> 
   </TR> 
   <TR ng-repeat="amort in refinancing.refMortgage.amortization"> 

     <TD> {{ amort.month }}</TD> 
     <TD> {{ amort.dateTerme }}</TD> 
     <TD> {{ amort.rate | number:2}}</TD> 
     <TD> {{ amort.capital | number:2 }}</TD> 
     <TD> {{ amort.interest | number:2 }}</TD> 
     <TD> {{ amort.totalPayment | number:2 }}</TD> 
     <TD> {{ amort.totalInterest | number:2 }}</TD> 
     <TD> {{ amort.SRD | number:2 }}</TD> 
     <TD> {{ amort.monthlyPayment | number:2 }}</TD> 

   </TR> 
 </TABLE>
</div>

</div>
</div>
</div>


